[submodule "NoAxiom-OS-Test"]
	path = NoAxiom-OS-Test
	url = https://github.com/NoAxiom/NoAxiom-OS-Test.git
[submodule "NoAxiom-OS-User"]
	path = NoAxiom-OS-User
	url = https://github.com/NoAxiom/NoAxiom-OS-User.git
